<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.coenraets.employeedirectory"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Reno Mobil Demo</name>

    <description>
        Simple form with location and pictures
    </description>

    <author href="http://websoftdev.com" email="keith@websoftdev.com">
        Keith Smith
    </author>

</widget>
